@charset "UTF-8";
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy");
  src: url("../fonts/Gilroy-Light.woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy");
  src: url("../fonts/Gilroy-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy");
  src: url("../fonts/Gilroy-Medium.woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy");
  src: url("../fonts/Gilroy-SemiBold.woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy");
  src: url("../fonts/Gilroy-Bold.woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Book Antiqua";
  src: local("Book Antiqua");
  src: url("../fonts/BKANT.TTF");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "Gilroy", sans-serif;
  background-color: #FAFAFA;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1550px;
}

.visually-hidden {
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  white-space: nowrap;
}

.none {
  display: none !important;
}

/* Заголовок */
.title {
  font-family: "Book Antiqua", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 72px;
  color: #4C65AD;
}

/* Подзаголовок */
.subtitle {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #121212;
}

.no-scroll {
  overflow-y: hidden;
}

.header {
  position: relative;
  margin-bottom: 200px;
}

.slide-1 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.57)), to(rgba(0, 0, 0, 0.57))), url("../img/slider/background-1.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57)), url("../img/slider/background-1.jpg");
}

.slide-2 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.57)), to(rgba(0, 0, 0, 0.57))), url("../img/slider/background-2.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57)), url("../img/slider/background-2.jpg");
}

.slide-3 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.57)), to(rgba(0, 0, 0, 0.57))), url("../img/slider/background-3.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57)), url("../img/slider/background-3.jpg");
}

.slide-4 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.57)), to(rgba(0, 0, 0, 0.57))), url("../img/slider/background-4.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57)), url("../img/slider/background-4.jpg");
}

.slide-5 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.57)), to(rgba(0, 0, 0, 0.57))), url("../img/slider/background-5.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57)), url("../img/slider/background-5.jpg");
}

.slide-6 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.57)), to(rgba(0, 0, 0, 0.57))), url("../img/slider/background-6.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57)), url("../img/slider/background-6.jpg");
}

.slide-7 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.57)), to(rgba(0, 0, 0, 0.57))), url("../img/slider/background-7.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57)), url("../img/slider/background-7.jpg");
}

.slider {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.slider__info {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider__title {
  margin-bottom: 35px;
  font-family: "Book Antiqua", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 75px;
  line-height: 189px;
  color: #EEEEEE;
}
.slider__subtitle {
  margin-bottom: 70px;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #FFF;
}
.slider__button {
  width: 380px;
  height: 70px;
  background-color: #1566B3;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFF;
}
.slider__button:hover {
  background-color: #4C65AD;
}
.slider__right-wrapper {
  padding-left: 50px;
  width: 470px;
  border-left: 3.5px solid rgba(255, 255, 255, 0.6);
}
.slider__feetback-title {
  margin-bottom: 12px;
}
.slider__feetback-title, .slider__feetback-author {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #FFF;
}
.slider__feetback-text {
  margin-bottom: 27px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFF;
}
.slider__feetback-author {
  text-align: right;
}

.prev {
  position: absolute;
  top: 40%;
  left: 30px;
  z-index: 1;
  cursor: pointer;
}

.next {
  position: absolute;
  top: 40%;
  right: 30px;
  z-index: 1;
  cursor: pointer;
}

.nav {
  margin-bottom: 40px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.nav__items {
  padding-top: 46px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 40px;
}
.nav__item:hover > .nav__sublist {
  opacity: 1;
  visibility: visible;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.nav__item-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFF;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.nav__item-link:hover {
  color: #1566B3;
}
.nav__sublist {
  max-width: 234px;
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 5;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  visibility: hidden;
  opacity: 0;
}
.nav__subitem {
  position: relative;
}
.nav__sublist-link {
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;
  color: #FFF;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.nav__sublist-link:hover {
  color: #1566B3;
}
.nav__logo {
  padding: 0 20px;
}
.nav__contacts {
  position: relative;
  padding-top: 46px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.nav__contacts a {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFF;
}
.nav__contacts a:hover {
  color: #1566B3;
}
.nav__phone {
  padding-left: 20px;
  position: relative;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.nav__phone::before {
  content: url("../icons/phone.svg");
  position: absolute;
  left: -10px;
}
.nav__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.nav__socials img {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.nav__socials img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-filter: contrast(110%) brightness(1.2) saturate(1.2);
          filter: contrast(110%) brightness(1.2) saturate(1.2);
}
.nav__recall {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.services {
  position: absolute;
  height: 200px;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.54);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services__img {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.services__link:hover .services__img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: contrast(110%) brightness(1.2) saturate(1.2);
          filter: contrast(110%) brightness(1.2) saturate(1.2);
}
.services__link:hover .services__title {
  color: #1566B3;
}
.services__link:hover .services__more {
  color: #FFF;
}
.services__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.services__img {
  margin-right: 32px;
}
.services__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.services__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFF;
  margin-bottom: 12px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.services__more {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #BEBEBE;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.services__more::after {
  padding-left: 10px;
  content: url("../icons/left-arrow.svg");
}

.reasons {
  margin-bottom: 200px;
}
.reasons__title {
  max-width: 1034px;
  margin: 0 auto;
  margin-bottom: 100px;
  position: relative;
}
.reasons__title::before {
  content: "6";
  position: absolute;
  top: 35px;
  left: -115px;
  font-size: 170px;
  line-height: 72px;
  color: #4C65AD;
}
.reasons__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 75px 30px;
}
.reasons__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reasons__img {
  margin-right: 43px;
}
.reasons__info h3 {
  margin-bottom: 30px;
}
.reasons__info-title-1::before {
  content: url("../icons/reasons/reason-1.svg");
  margin-right: 20px;
}
.reasons__info-title-2::before {
  content: url("../icons/reasons/reason-2.svg");
  margin-right: 20px;
}
.reasons__info-title-3::before {
  content: url("../icons/reasons/reason-3.svg");
  margin-right: 20px;
}
.reasons__info-title-4::before {
  content: url("../icons/reasons/reason-4.svg");
  margin-right: 20px;
}
.reasons__info-title-5::before {
  content: url("../icons/reasons/reason-5.svg");
  margin-right: 20px;
}
.reasons__info-title-6::before {
  content: url("../icons/reasons/reason-6.svg");
  margin-right: 20px;
}
.reasons__text {
  font-size: 25px;
  line-height: 110%;
  color: #515151;
}

.placement {
  margin-bottom: 150px;
}
.placement__title {
  text-align: center;
  margin-bottom: 50px;
}
.placement__tabs {
  margin-bottom: 50px;
  text-align: center;
}
.placement__tab {
  margin-right: 15px;
  padding: 15px 50px;
  font-size: 25px;
  line-height: 110%;
  color: #515151;
  border: 1.34px solid #1566B3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.placement__tab:hover {
  background-color: #1566B3;
  color: #FFF;
}
.placement__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  margin-bottom: 80px;
  overflow: hidden;
}
.placement__card {
  width: 500px;
}
.placement__img {
  height: 474px;
  margin-bottom: 50px;
}
.placement__item-title {
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
  min-height: 100px;
}
.placement__item-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #515151;
  margin-bottom: 30px;
}
.placement__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  min-height: 200px;
}
.placement__notes {
  width: 50%;
  border-right: 1px solid #BEBEBE;
}
.placement__notes-item li {
  margin-bottom: 12px;
}
.placement__notes-item li::before {
  content: url("../icons/checkmark.svg");
  margin-right: 10px;
}
.placement__notes-item li:last-child {
  margin-bottom: 0;
}
.placement__price {
  padding-left: 25px;
}
.placement__price-item span {
  font-weight: 500;
}
.placement__detailed {
  margin-right: 34px;
  display: inline-block;
  padding: 20px 60px;
  border: 2px solid #3862DE;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #4C65AD;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.placement__detailed:hover {
  background-color: #1566B3;
  color: #FFF;
}
.placement__freeroom {
  display: inline-block;
  vertical-align: middle;
}
.placement__freeroom-text {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #3A3A3A;
}
.placement__freeroom-status {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #01C839;
}

.controls {
  position: relative;
  height: 35px;
}
.controls_arrs {
  position: absolute;
  width: 150px;
  right: 33%;
}

.swiper-pagination {
  height: 2px;
  width: 200px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.swiper-button-next:after, .swiper-button-prev:after {
  content: none;
}

.reserve {
  margin-bottom: 150px;
}
.reserve__path {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
  margin-bottom: 80px;
}
.reserve__path-item {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 100px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #505050;
}
.reserve__path-item:first-child::before {
  content: "1.";
}
.reserve__path-item:nth-child(2)::before {
  content: "2.";
}
.reserve__path-item:last-child::before {
  content: "3.";
}
.reserve__path-item::before {
  display: inline-block;
  width: 33px;
  height: 33px;
  border: 2px solid #505050;
  border-radius: 100%;
  text-align: center;
  margin-right: 10px;
}
.reserve__path-item::after {
  content: "--------";
  position: absolute;
  top: 3px;
  right: -138px;
}
.reserve__path-item:last-child::after {
  display: none;
}
.reserve__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.reserve__title {
  font-size: 65px;
  line-height: 72px;
  color: #121212;
  margin-bottom: 50px;
}
.reserve__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.reserve__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}
.reserve__label {
  font-weight: 500;
  font-size: 25px;
  line-height: 25px;
  color: #121212;
  margin-bottom: 15px;
}
.reserve__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}
.reserve__items_check {
  display: block;
  margin-bottom: 30px;
}
.reserve__checkbox {
  margin-right: 10px;
}
.reserve__item {
  height: 64px;
  padding: 20px 48px;
  border: 1.34px solid rgba(18, 18, 18, 0.4);
}
.reserve__select, .reserve__number, .reserve__text {
  width: 467px;
  height: 64px;
  border: 1.34px solid rgba(18, 18, 18, 0.4);
}
.reserve__comments {
  width: 467px;
  height: 198px;
  border: 1.34px solid rgba(18, 18, 18, 0.4);
}
.reserve__button {
  height: 70px;
  width: 465px;
  background-color: #1566B3;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFF;
  cursor: pointer;
}
.reserve__button:hover {
  background-color: #105392;
}

.entertainments {
  margin-bottom: 150px;
}
.entertainments__title {
  text-align: center;
  margin-bottom: 80px;
}
.entertainments__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 40px;
}
.entertainments__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  width: 50%;
}
.entertainments__card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.entertainments__card-title {
  margin-bottom: 25px;
}
.entertainments__card-text {
  font-size: 18px;
  line-height: 110%;
  color: #515151;
  margin-bottom: 12px;
}
.entertainments__card-price {
  font-style: italic;
  margin-bottom: 30px;
  margin-left: 30px;
  position: relative;
}
.entertainments__card-price::before {
  content: "";
  width: 20px;
  height: 2px;
  background: #4C65AD;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  left: -30px;
}
.entertainments__button {
  height: 60px;
  width: 200px;
  border: 2px solid #1566B3;
}
.entertainments__button:hover {
  background-color: #1566B3;
  color: #FFF;
}

.galery {
  margin-bottom: 150px;
}
.galery__title {
  margin-bottom: 80px;
  text-align: center;
}
.galery__top-wrapper {
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  gap: 40px;
  margin-bottom: 40px;
}
.galery__bottom-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 2fr;
  gap: 40px;
  margin-bottom: 80px;
}
.galery__block-1 {
  height: 478px;
  width: 740px;
}
.galery__block-2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
  height: 389px;
  height: 478px;
  width: 350px;
}
.galery__block-3 {
  height: 478px;
  width: 350px;
}
.galery__block-1 img, .galery__block-2 img, .galery__block-3 img {
  border-radius: 10px;
}
.galery__block-1:hover, .galery__block-2:hover, .galery__block-3:hover {
  -webkit-filter: contrast(120%) brightness(1.3) saturate(1.5);
          filter: contrast(120%) brightness(1.3) saturate(1.5);
}
.galery__button-box {
  text-align: center;
}
.galery__button {
  height: 60px;
  width: 390px;
  border: 2px solid #1566B3;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #4C65AD;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.galery__button:hover {
  background-color: #1566B3;
  color: #FFF;
}

.reviews {
  margin-bottom: 250px;
  position: relative;
}
.reviews::before {
  content: url("../img/reviews/baikal.png");
  position: absolute;
  top: -50px;
  left: 16%;
  opacity: 0.2;
  z-index: -5;
}
.reviews__title {
  text-align: center;
  margin-bottom: 180px;
}
.reviews__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  overflow: hidden;
  margin-bottom: 80px;
}
.reviews__card {
  width: 500px;
}
.reviews__text {
  min-height: 320px;
  width: 400px;
  font-weight: 300;
  font-size: 15px;
  line-height: 130%;
  color: #515151;
  position: relative;
}
.reviews__text::before {
  content: url("../icons/shape.svg");
  position: absolute;
  top: -85px;
  left: 0;
}
.reviews__text::after {
  content: url("../icons/instagram_bl.svg");
  position: absolute;
  top: -50px;
  right: 0;
}
.reviews__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.reviews__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.reviews__name {
  font-size: 20px;
  line-height: 30px;
  color: #121212;
}
.reviews__date {
  font-size: 15px;
  line-height: 31px;
  color: #959699;
}

.cashback {
  background-image: url(../img/cashback/worldMap.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 200px;
}
.cashback__box {
  min-height: 523px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cashback__title {
  text-align: center;
  margin-bottom: 40px;
}
.cashback__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cashback__text {
  margin-right: 30px;
  font-weight: bold;
  font-size: 130px;
  line-height: 193px;
  background: -webkit-gradient(linear, left top, right top, from(#1577E4), to(#00D483));
  background: linear-gradient(to right, #1577E4, #00D483);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #00D483;
  text-align: center;
}
.cashback__img {
  width: 222px;
  height: 144px;
}

.contacts {
  margin-bottom: 200px;
}
.contacts__title {
  margin-bottom: 50px;
}
.contacts__links {
  margin-bottom: 25px;
}
.contacts__link {
  font-weight: 600;
  font-size: 25px;
  line-height: 31px;
  color: #4C65AD;
  margin-right: 50px;
}
.contacts__link:hover {
  color: #1566B3;
}
.contacts__link:last-child {
  margin-right: 0;
}
.contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
}
.contacts__item {
  margin-bottom: 40px;
}
.contacts__item dl {
  font-weight: 400;
  font-size: 25px;
  line-height: 110%;
  color: #959699;
  margin-bottom: 12px;
}
.contacts__item dd, .contacts__item a {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #121212;
}
.contacts__item a:hover {
  color: #1566B3;
}
.contacts__phone {
  position: relative;
}
.contacts__phone::before {
  content: url("../icons/contacts/phone.svg");
  position: absolute;
  left: -10%;
}
.contacts__mail {
  position: relative;
}
.contacts__mail::before {
  content: url("../icons/contacts/letter.svg");
  position: absolute;
  left: -10%;
}
.contacts__office {
  position: relative;
}
.contacts__office::before {
  content: url("../icons/contacts/office.svg");
  position: absolute;
  left: -10%;
}
.contacts__base {
  position: relative;
}
.contacts__base::before {
  content: url("../icons/contacts/base.svg");
  position: absolute;
  left: -10%;
}
.contacts__write {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #121212;
}
.contacts__whatsapp {
  padding-left: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-decoration-line: underline !important;
  color: #121212;
  position: relative;
}
.contacts__whatsapp::before {
  content: url("../icons/contacts/whatsapp.svg");
  position: absolute;
  left: 5px;
  top: 3px;
}
.contacts__whatsapp:hover {
  color: #1566B3;
}

.map {
  height: 700px;
  width: 870px;
}

.footer {
  background-color: #004281;
  padding-top: 77px;
  padding-bottom: 80px;
}
.footer__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 2fr 2fr;
  gap: 30px;
}
.footer__nav-list {
  display: grid;
  gap: 20px;
}
.footer__nav-list a {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #FFF;
}
.footer__nav-list a:hover {
  color: #515151;
}
.footer__button {
  height: 60px;
  width: 325px;
  border: 2px solid #FFF;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFF;
}
.footer__button:hover {
  background-color: #FFF;
  color: #004281;
}
.footer__phone a {
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
  color: #FFF;
}
.footer__phone a:hover {
  color: #515151;
}
.footer__work {
  font-size: 18px;
  line-height: 22px;
  color: #FFF;
  margin-bottom: 25px;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}